
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootswatch: Lux</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../4/lux/bootstrap.css" media="screen">
    <link rel="stylesheet" href="../_assets/css/custom.min.css">
  </head>
  <body>
    
    <style>
  #homeCenter {
  display: flex;
  align-items: center;
  justify-content: center
  
  }
  #btnPad {
    margin: 10px;
  }
</style>



    <div class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a href="../" class="navbar-brand">
            <div id="btnPad">
        <img src="https://i.imgur.com/1PkUVKB.png" width="120" height="62" alt="Computer Hope">
            </div>
        </a>
        <a href="../" class="navbar-brand">TickIT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
          </ul>

          <ul class="nav navbar-nav ml-auto">
               <% if user_signed_in? %>
                 
                 <% if current_user.admin? %>
                 <li class="nav-item">
                    <%= link_to "Logged in as (Admin) #{current_user.email}", edit_user_registration_path, :class => 'nav-link'  %>
                </li>
                
                <li class="nav-item">
                    <%= link_to "Admin Panel", "adminpanel", :class => 'nav-link'  %>
                </li>
                 
                 <% else %>
                 
                <li class="nav-item">
                   <%= link_to "Logged in as #{current_user.email}", edit_user_registration_path, :class => 'nav-link'  %>
                </li>
                
                <% end %>
                
                <li class="nav-item">
                    <%= link_to "Logout", users_sign_out_path, :class => 'nav-link',:method => :delete  %>
                </li>
                
                <% else %>
                <li class="nav-item">
                  <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link'  %>
                </li>
                <li class="nav-item">
                  <%= link_to "Login", new_user_session_path, :class => 'nav-link'  %>
                </li>
                <% end %>
             
             

          </ul>

        </div>
      </div>
    </div>
    
  
  <% if user_signed_in? %>
                
                    <tbody>
                    <% @tickets.each do |ticket| %>
                     <tr>
                      <p>
                      <% if current_user.email == ticket.user %>
                      <td><%= ticket.user %></td>
                      
                      <% @displayed = true %>
                      
                      <td> <%= ticket.location %></td>
                      </p>
                      <% end %>
                     <% end %>
                      
                  </tr>
                   </tbody>
                   
  <% if !@displayed %>
    <div class="alert alert-dismissible alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4 class="alert-heading">No Tickets!</h4>
      <p class="mb-0">You currently have no active tickets, <a href="create_ticket" class="alert-link">click here to create one!</a>.</p>
    </div>
  <% end %>
                 
                
<% end %>
  
