<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootswatch: Lux</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../4/lux/bootstrap.css" media="screen">
    <link rel="stylesheet" href="../_assets/css/custom.min.css">
  </head>
  <body>
    
  <style>
  #homeCenter {
  display: flex;
  align-items: center;
  justify-content: center
  }
  
  #btnPad {
    margin: 10px;
  }
  </style>

  <div class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a href="/" class="navbar-brand">
        <div id="btnPad">
          <img src="https://i.imgur.com/1PkUVKB.png" width="120" height="62" alt="Computer Hope">
        </div>
      </a>
      <a href="/" class="navbar-brand">TickIT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
          </ul>
        </div>
    </div>
  </div>

  <h2>Forgot your password?</h2>
  <div class="row">
    <div class="col-md-4">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>
  
    <div class="actions">
      <%= f.submit "Send me reset password instructions", :class => 'btn btn-primary btn-lg' %>
    </div>
    <% end %>
    </div>
  </div>
    <%= render "devise/shared/links" %>
