
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootswatch: Lux</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../4/lux/bootstrap.css" media="screen">
    <link rel="stylesheet" href="../_assets/css/custom.min.css">
  </head>
  <body>
    
    <style>
  #homeCenter {
  display: flex;
  align-items: center;
  justify-content: center
  
  }
  #btnPad {
    margin: 10px;
  }
</style>






    
    

    <div class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a href="../" class="navbar-brand">
            <div id="btnPad">
        <img src="https://i.imgur.com/1PkUVKB.png" width="120" height="62" alt="Computer Hope">
            </div>
        </a>
        <a href="../" class="navbar-brand">TickIT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
          </ul>

          <ul class="nav navbar-nav ml-auto">
               <% if user_signed_in? %>
                 
                 <% if current_user.admin? %>
                 <li class="nav-item">
                    <%= link_to "Logged in as (Admin) #{current_user.email}", edit_user_registration_path, :class => 'nav-link'  %>
                </li>
                
                <li class="nav-item">
                    <%= link_to "Admin Panel", "adminpanel", :class => 'nav-link'  %>
                </li>
                 
                 <% else %>
                 
                <li class="nav-item">
                   <%= link_to "Logged in as #{current_user.email}", edit_user_registration_path, :class => 'nav-link'  %>
                </li>
                
                <% end %>
                
                <li class="nav-item">
                    <%= link_to "Logout", users_sign_out_path, :class => 'nav-link',:method => :delete  %>
                </li>
                
                <% else %>
                <li class="nav-item">
                  <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link'  %>
                </li>
                <li class="nav-item">
                  <%= link_to "Login", new_user_session_path, :class => 'nav-link'  %>
                </li>
                <% end %>
             
             

          </ul>

        </div>
      </div>
    </div>


<div id="homeCenter">

<div class="jumbotron">
  <h1 class="display-3">Welcome to TickIT!</h1>
  <p class="lead text-center">This is a simple ticketing system app.</p>
  <hr class="my-4">
  <% if not user_signed_in? %>
   <p class="lead text-center">We see you're not logged in, login or create an account to get started!</p>
  <p class="lead">
  <div id="homeCenter">
    <div id="btnPad">
    <%= link_to "Login", new_user_session_path, :class => 'btn btn-primary btn-lg'  %>
   <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-primary btn-lg'  %>
       </div>
    </div>
  </p>
  <%else%>
  <div id="homeCenter">
    <div id="btnPad">
    <%= link_to "Create a ticket", "create_ticket", :class => 'btn btn-success btn-lg'  %>
    <%= link_to "View my tickets", "create_ticket", :class => 'btn btn-info btn-lg'  %>
    </div>
    </div>
    <%end%>
</div>

</div>



    <script src="../_vendor/jquery/dist/jquery.min.js"></script>
    <script src="../_vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="../_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../_assets/js/custom.js"></script>
  </body>
</html>