<p id="notice"><%= notice %></p>

<h1>Tickets</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Location</th>
      <th>Head</th>
      <th>Body</th>
      <th>Filename</th>
      <th>Priority</th>
      <th>Created</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.user %></td>
        <td><%= ticket.location %></td>
        <td><%= ticket.head %></td>
        <td><%= ticket.body %></td>
        <td><%= ticket.filename %></td>
        <td><%= ticket.priority %></td>
        <td><%= ticket.created %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
